<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h3 m-0">新規案件作成</h1>
  <%= link_to "一覧に戻る", projects_path, class: "btn btn-outline-secondary" %>
</div>

<%= render "form", project: @project %>
